.form{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}
.form form{
    border: 1px solid wheat;
    padding: 1rem;
    border-radius: 5px;
}
.email{
    margin-bottom: 1rem;
}
.email label{
    display: block;
    font-size: larger;
}
.password{
    margin-bottom: 1rem;
}
.password label{
    display: block;
    font-size: larger;
}

.input{
    width: 400px;
    height: 40px;
}
.btn{
    width: 400px;
    height: 50px;
    background-color: rgb(237, 208, 153);
    margin-top: 1rem;
    font-size: larger;
    font-weight: 600;
}
.btn:hover{
    background-color: rgb(225, 222, 219);
}
